.timer {
    grid-row: 4/8;
    grid-column: 3/6;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 60px;
}

.admin {
    font-size: 30px;
}

.admin > p {
    margin: 2px 0px;
}

.admin__hint {
    color: red;
    visibility: hidden;
}
