.timer {
    grid-row: 4/8;
    grid-column: 3/6;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 60px;
}

.submit-button {
    font-size: 30px;
    padding: 0px 20px;
}

.submit-wrapper {
    display: flex;
    width: 100%;
}

.answer {
    width: 99%;
    height: 100%;

    font-size: 40px;
    padding: 0px 20px;
}

.submission-feedback {
    flex-grow: 1;
    margin-left: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}
