body {
    margin: 0px;
    width: 100%;
    height: 100vh;

    font-size: 40px;
}

.login {
    position: absolute;

    width: 100%;
    height: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas:
        " . . . "
        " . l . "
        " . . . ";

    font-size: 25px;
}

.login__column {
    grid-area: l;

    display: flex; 
    flex-direction: column;
}

.stdinput {
    min-height: 40px;
    font-size: 30px; 
}

.login__hint {
    visibility: hidden;
    color: red;
}

.content-wrapper {
    position: absolute;

    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);

    background-color: white;

    visibility: hidden;
}

.main-column {
    grid-row: 3/14;
    grid-column: 8/14;

    display: flex;
    flex-direction: column;
}

.main-column > div, .main-column > button {
    margin-bottom: 40px;
}

.costil {
    visibility: hidden
}